@use "layout";

// Temp
@use "./components/FlashCard/flashcard.scss";

:root {
	background-color: #adbfa5;
	color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background-color: #2f4d22;
	color: rgb(255, 218, 149);

	width: 100%;
	height: 200px;
}