.vontils-cards-flashcard {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	background-color: #efefef;
	border-radius: 5%;	

	padding: 1rem;
	margin: 0.25rem;

	width: 300px;
	height: 500px;

	h3 {
		font-size: medium;
	}

	img {
		background-color: #ffadad;
		width: 100%;
		text-align: center;
		font-size: x-large;
		font-weight: bold;
	}

	p {
		overflow: auto;
		overflow-wrap: break-word;
		hyphens: auto;
	}
}

.vontils-card-unflipped {
	background-color: #ffadad;
	border-width: 1rem;
	border-color: #aa5d5d;
	border-style: solid;

	* {
		display: none;
	}
}

.vontils-card-unselectable {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}