nav {
	background-color: #bae7a7;

	ul {
		list-style: none;
		display: flex;
		justify-content:space-between;

		height: calc(32px + 1em);
		
		font-size: xx-large;
		text-align: center;

		a {
			text-decoration: none;
		}

		li {
			display: inline;
		}

		div {
			display: flex;
			align-items: center;
			gap: 2vw;
			margin: 0 3vw;

			* {
				display: inline;
				margin: 0 0.5rem;
			}
		}
	}
}